mixin taglist(list, cssClass, sep)
    - var lastIndex = list.length - 1
    each tag, index in list
        <a class="#{cssClass}" href="#{tag.permalink}">#{tag.name}</a>
        if index < lastIndex
            !{sep}

article.panel-white.mb16.relative(itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost")
    header.mb4.c-dark-gray
        if (post.heroImage)
            img(src="#{post.heroImage.sizes.wide}" class="unit unit-1of1" alt="#{post.heroImage.alt}")
        h1.serif.bold.center-text.ph2.unit.unit-1of1.mt3(itemprop="headline")
            a.c-dark-gray(href="#{post.permalink}" itemprop="url discussionUrl") #{post.title}
        p.center-text.sans-serif.c-light-gray
            #[a(href="#{post.author.url}") #[img.portrait.small.v-middle.mr1(src="#{post.author.profileImage.sizes.thumbnail}" alt="#{post.author.profileImage.alt}")]#{post.author.displayName}] on #[time(datetime=post.postDate) !{moment(post.postDate).format('MMMM Do, YYYY')}]
    div.mb4(itemprop=(single) ? "articleBody" : "description")
        - var contentBlocks = (!single) ? [post.contentBlocks[0]] : post.contentBlocks;
        each contentBlock in contentBlocks
            div.mb3(class="#{contentBlock.blockType}")
                if (contentBlock.blockType == 'markdown')
                    div.ph2
                        div.markdown-body !{marked(contentBlock[contentBlock.blockType])}
                if (contentBlock.blockType == 'code')
                    div.pv4.ph2.panel-code-bg !{marked(contentBlock[contentBlock.blockType])}
                if (contentBlock.blockType == 'gallery')
                    div.swiper-container.unit-1of1
                        div.swiper-wrapper
                            each image in contentBlock[contentBlock.blockType]
                                div.swiper-slide
                                    //img.unit-1of1(src="#{image.sizes['1080.16/9']}")
                                    img.unit-1of1.swiper-lazy(data-src="#{image.sizes['1080.16/9']}" alt="#{image.alt}")
                                    div.swiper-lazy-preloader
                        div.swiper-pagination.swiper-pagination-white
                        div.swiper-button-next.swiper-button-white
                        div.swiper-button-prev.swiper-button-white
                if (contentBlock.blockType == 'image')
                    div.unit-1of1
                        img.unit-1of1(src="#{contentBlock[contentBlock.blockType].sizes['1080']}" alt="#{contentBlock[contentBlock.blockType].alt}")
                if (contentBlock.blockType == 'geojson')
                    div.unit-1of1
                        div.mapbox-map(data-geojson="#{contentBlock[contentBlock.blockType]}" data-access-token="#{data.siteSettings.mapboxAccessToken}" data-map-id="#{data.siteSettings.mapboxMapId}")
    footer.pb4
        div.ph2
            div.content-width.mha
                if (single)
                    ul.meta.c-light-gray.sans-serif.text-small.stacked-octicons.list-clean.mv3.ph0
                        li.mb1 #[span.octicon.octicon-pencil.mr1] #[span #{post.author.displayName}]
                        li.mb1 #[span.octicon.octicon-clock.mr1] #[time(datetime=post.postDate itemprop="datePublished") !{moment(post.postDate).format('YYYY-MM-DD')}]
                        if (post.tag.length)
                            li.mb1(itemprop="keywords") #[span.octicon.octicon-tag.mr1] #[+taglist(post.tag, "c-light-gray hover-c-light-blue", ", ")]
                    include disqus
                else
                    div.center-text
                        a.sans-serif.c-dark.no-dec.bold.h5.hover-c-white.oa2.o-dark.ph2.pv1.hover-panel-dark.uc.ib(href="#{post.permalink}") Read more &amp; comment
