extends layout

block scripts
    //script(data-main='/scripts/loader-main' src='/scripts/lib/require.js')

block styles
    //link(rel='stylesheet', href='/scripts/lib/leaflet-0.7.3/leaflet.css')

block content
    div.panel-white.relative.mb16
        img.round(src="#{data.profileImage.sizes.thumbnail}")
        div.mb3.markdown
            div.ph2
                div.markdown-body !{marked(data.profileDescription)}
        p #{data.email}
        each socialLink in data.socialLinks
            p
                a(href="#{socialLink.url}") #{socialLink.label}